#colors(){
  background: #dff4f3;
  primary: #dde7f2;
  secondary: #b9bbdf;
  third: #878ecd;
  text: #5A4586;
}

.text{
  color: #colors[text];
}

span{
 .text();
}

label{
  .text();
}

body{
  background: #colors[background];
}

.container{

}

.wrapper{

}